body {
  color: #f0f4f7;
  font-size: 55px;
  background-color: #344d2f;
  background-repeat: repeat;
  font-family: christmaswish;
  text-align: center;
  margin-left: -100%;
  margin-right: -100%;
  white-space: nowrap;
}

h1 {
  font-size: 150px;
  font-family: snowinter;
  text-align: center;
  text-shadow: 3px 4px #a81817;
  letter-spacing: 8px;
}

h2 {
  font-size: 120px;
  font-family: snowinter;
  text-align: center;
  text-shadow: 3px 4px #a81817;
  letter-spacing: 5px;
}

p {
  text-align: center;
}

a:link {
  text-decoration: none;
  color: #f0f4f7;
}

a:visited {
  text-decoration: none;
  color: #f0f4f7;
}

a:hover {
  text-decoration: none;
  color: #fac57d;
  font-size: 56px;
  text-shadow: 1px 1px #f0f4f7;
}

@font-face {
  font-family: snowinter;
  src: url(snowinter.otf);
}

@font-face {
  font-family: christmaswish;
  src: url(christmaswish.otf);
}
